pkgbase = android-studio-aarch64
	pkgdesc = The official Android IDE (Stable branch)
	pkgver = 2026.1.1.10
	pkgrel = 2
	url = https://developer.android.com/
	arch = aarch64
	license = APACHE
	depends = alsa-lib
	depends = freetype2
	depends = libxrender
	depends = libxtst
	depends = which
	optdepends = gtk2: GTK+ look and feel
	optdepends = libgl: emulator support
	optdepends = ncurses5-compat-libs: native debugger support
	options = !strip
	source = https://dl.google.com/dl/android/studio/ide-zips/2026.1.1.10/android-studio-quail1-patch2-linux.tar.gz
	source = https://cache-redirector.jetbrains.com/intellij-jbr/jbr_jcef-21.0.8-linux-aarch64-b1163.59.tar.gz
	source = android-studio-aarch64.desktop
	source = license.html
	sha256sums = fbd3f116d12caed724ea8da0d2cdae7e791170f79f2aa11273ea0f2d22a224dc
	sha256sums = SKIP
	sha256sums = 73cd2dde1d0f99aaba5baad1e2b91c834edd5db3c817f6fb78868d102360d3c4
	sha256sums = 9a7563f7fb88c9a83df6cee9731660dc73a039ab594747e9e774916275b2e23e

pkgname = android-studio-aarch64
