pkgbase = android-studio-aarch64
	pkgdesc = The official Android IDE (Stable branch)
	pkgver = 2026.1.2.10
	pkgrel = 2
	url = https://developer.android.com/
	arch = aarch64
	license = APACHE
	depends = alsa-lib
	depends = freetype2
	depends = libxrender
	depends = libxtst
	depends = which
	optdepends = gtk2: GTK+ look and feel
	optdepends = libgl: emulator support
	optdepends = ncurses5-compat-libs: native debugger support
	options = !strip
	source = https://dl.google.com/dl/android/studio/ide-zips/2026.1.2.10/android-studio-quail2-linux.tar.gz
	source = https://cache-redirector.jetbrains.com/intellij-jbr/jbr_jcef-25.0.3-linux-aarch64-b508.16.tar.gz
	source = android-studio-aarch64.desktop
	source = license.html
	sha256sums = 64445a54092e7056c6eb7f1a89ad116d0feec2ef5f965b8e594d62abdb58590f
	sha256sums = SKIP
	sha256sums = 75de77113d7b34f1f08fbfc0886bda8605c785d05007b2ce21be6b141f2e6655
	sha256sums = 9a7563f7fb88c9a83df6cee9731660dc73a039ab594747e9e774916275b2e23e

pkgname = android-studio-aarch64
